<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>About</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h3>About</h3>
  </ion-text>
  <ion-text color="medium">
    <p>
      Welcome to Enlighto,
    </p>
  </ion-text>
  <ion-text color="medium">
    <p>
      your number one source for all things
      audio learning and job search. We're dedicated to
      providing you the best of audio learning for
      competitive exams with a focus on dependability.
      customer service, and quality of classes.
    </p>
  </ion-text>
  <ion-text color="medium">
    <p>
      We're working to turn our passion for audio learning
      into a booming online store. We hope you enjoy our
      products as much as we enjoy offering them to you.
    </p>
  </ion-text>

  <ion-text color="medium">
    <p>
      Our Website <ion-icon name="globe" style="margin-left: .5rem;"
        onclick="window.open('http:\/\/enlighto.ilalife.in', '_system', 'location=yes'); return false;"></ion-icon>
    </p>
  </ion-text>

  <ion-text color="medium">
    <p>
      Follow Us
      <ion-icon name="logo-facebook" style="margin-left: .5rem;"
        onclick="window.open('https:\/\/facebook.com/enlightoonline', '_system', 'location=yes'); return false;">
      </ion-icon>
      <ion-icon name="logo-instagram" style="margin-left: .5rem;"
        onclick="window.open('https:\/\/instagram.com/enlightoonline', '_system', 'location=yes'); return false;">
      </ion-icon>
    </p>
  </ion-text>
  <ion-text color="primary">
    <p>
      Ila Life
    </p>
  </ion-text>
  

  <ion-footer text-center padding>
    <img text-center src="/assets/img/logo.png" alt="Logo" width="50" />
    <ion-title>{{ appName }}</ion-title>
    <ion-label>{{ versionNumber }}</ion-label>
  </ion-footer>
</ion-content>