<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start" size="large" class="ion-text-left" colour="dark">
      Enlighto
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="songs.length">
    <ng-container *ngFor="let song of songs; let i = index">
      <ion-item text-wrap (click)="reset();play(song)">
        <ion-icon color="primary" item-start name="musical-note"></ion-icon>{{ song.name }}
        <ion-icon slot="end" name="play" *ngIf="currentSong.url === song.url"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer padding>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start time-marker">{{
        parseTime(nowPlaying.currentTime) || "00:00"
      }}</ion-col>
      <ion-col class="ion-text-end time-marker">{{
        parseTime(nowPlaying.duration) || "00:00"
      }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="progress" color="dark"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="2">
        <ion-icon name="skip-backward" color="dark" (click)="previous()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <ion-icon name="rewind" color="dark" (click)="rewind()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-icon name="play" color="dark" (click)="play(null)" *ngIf="!playing">
        </ion-icon>
        <ion-icon name="pause" color="dark" (click)="pause()" *ngIf="playing">
        </ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <ion-icon name="fastforward"  color="dark" (click)="fastforward()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-icon name="skip-forward" color="dark" (click)="next()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>