
ion-icon {
  font-size: 26px;
}
.time-marker {
  color: gray;
  font-size: 10px;
}

ion-footer {
  box-shadow: grey 10px 10px 10px 10px;
}
ion-header {
  box-shadow: grey 0px 7px 11px -3px;
}

.swiper-slide img {
  height: 90px;
}
