<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start" size="large" class="ion-text-left">
      Enlighto
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid text-center *ngIf="categories.length">
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let category of categories; let i = index"
        (click)="showSongs(category)">
        <ion-img [src]="'http://localhost:4200/svg/md-book.svg'" color="secondary"></ion-img>
        <!-- <ion-icon color="primary" name="book" size="large"></ion-icon> -->
        <ion-label>{{ category }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer padding>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start time-marker">{{
        parseTime(nowPlaying.currentTime) || "00:00"
      }}</ion-col>
      <ion-col class="ion-text-end time-marker">{{
        parseTime(nowPlaying.duration) || "00:00"
      }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="progress" color="secondary"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="2">
        <ion-icon name="skip-backward" color="secondary" (click)="previous()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <ion-icon name="rewind" color="secondary" (click)="rewind()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-icon name="play" color="secondary" (click)="play(null)" *ngIf="!playing">
        </ion-icon>
        <ion-icon name="pause" color="secondary" (click)="pause()" *ngIf="playing">
        </ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <ion-icon name="fastforward" color="secondary" (click)="fastforward()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center" size="2">
        <ion-icon name="skip-forward" color="secondary" (click)="next()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>