<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start" size="large" class="ion-text-left">
      Enlighto
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div *ngIf="user" class="success-background">
    <ion-avatar (click)="takePicture()">
      <img [src]="userImage" alt="User Image" *ngIf="!photo" />
      <img [src]="photo" alt="User Image" *ngIf="photo" />
    </ion-avatar>
    <h1 text-center>{{ user.firstname + " " + user.lastname }}</h1>
    <h2 text-center>{{ user.email }}</h2>
    <ion-grid>
      <ion-row align-items-center text-center class="row-header">
        <ion-col>140</ion-col>
        <ion-col>2k</ion-col>
        <ion-col>500</ion-col>
      </ion-row>
      <ion-row align-items-center text-center>
        <ion-col>Artistas</ion-col>
        <ion-col>Seguidores</ion-col>
        <ion-col>Canciones</ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  <ion-list lines='none' padding>
    <ion-item onclick="window.open('http:\/\/enlighto.tk/privacy_policy.html', '_system'); return false;">
      Privacy Policy
    </ion-item>
    <ion-item (click)="share()"> Share this App
    </ion-item>
    <ion-item
      onclick="window.open('https\:\/\/play.google.com/store/apps/details?id=com.ilalife.enlighto', '_system', 'location=yes'); return false;">
      Rate Us
    </ion-item>
    <ion-item routerLink="/tabs/settings/about">About
    </ion-item>
  </ion-list>
</ion-content>